In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../self_driving_feedback/data/survey_results.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  202 non-null    object
 1   age      202 non-null    int64
 2   gender   202 non-null    bool
 3   region   202 non-null    object
 4   q1       202 non-null    int64
 5   q2       202 non-null    int64
 6   q3       202 non-null    int64
 7   q4       202 non-null    int64
 8   q5       202 non-null    int64
 9   q6       202 non-null    int64
 10  q7       202 non-null    int64
 11  q8       202 non-null    int64
 12  q9       202 non-null    int64
 13  q10      202 non-null    int64
 14  q11      202 non-null    int64
 15  q12      202 non-null    int64
 16  q13      202 non-null    int64
 17  q14      202 non-null    int64
 18  q15      202 non-null    int64
 19  q16      202 non-null    int64
dtypes: bool(1), int64(17), object(2)
memory usage: 30.3+ KB

In [4]:
data["age"].value_counts().sort_index()

age
15     5
16     6
17     5
18     4
19     2
20     3
21     5
22     7
23     6
24     1
25     6
26     3
27     3
28     6
29     8
30     2
31     3
32     3
33     1
34     2
35     4
36     4
37     4
38     9
39     5
40     5
41     5
42     7
43     4
44     3
45     1
46     5
47     5
48     2
49     6
50     4
51     6
52     1
53    10
54     4
55     4
56     6
57     2
58    10
59     5
Name: count, dtype: int64